@charset "utf-8";

/* Formatação de media queries */

/* Typical Device Breackpoint 
Pequenas telas: até 600px
Celular: de 601px até 768px
tablet/; 769px até 992px
Desktop:de 993px até 1200px
Grandes telas: acima de 1200px
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
    }
    body{
        background-image: url(../imagens/icon-print.png);        
    }
    h1{
        font-size: 1.5em;
    }
    main{
        width: 90vw;
        border: 1px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main::after{
        content: 'Essa impressão foi feita para o curso de HTML5 e CSS3 do Curso em vídeo';
        text-decoration: overline;
    }
    
  
    #tele{display: none;}
    #tablet{display: none;}
    #impre{display: block; }
    #cel{display: none;}
    #comp{display: none;}

}
@media screen and (min-width: 769px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg
        );
    }
    main{
        width: 400px;
    }
    

        #tele{display: none;}
        #tablet{display: block;}
        #impre{display: none; }
        #cel{display: none;}
        #comp{display: none;}
}
@media screen and (min-width: 993px) and (max-width:1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
        position: relative;
        
    }
    main{
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
        #tele{display: none;}
        #tablet{display: none;}
        #impre{display: none; }
        #cel{display: none;}
        #comp{display: block;}

}
@media screen and (min-width:1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
        
    }
    main{
        width: 500px;
    }
        #tele{display: block;}
        #tablet{display: none;}
        #impre{display: none; }
        #cel{display: none;}
        #comp{display: none;}

}
