@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #025951, #02735E);
}
main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(2, 42, 58, 0.486);
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    color: #034159;
    text-align: center;
    text-shadow: 1px 1px 2px #034159;
}
h2{
    color: #038C3E;
}
p{
    text-align: justify;
}
